<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>mzp_html__copy_</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="/static/mzp_html__copy_.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="page_splash_screen_ek1"  >
				<div id="_bg__splash_screen_ek2"  ></div>
				<div id="maju" >
					MAJU
				</div>

				<div id="group_2"  >
					<div id="ellipse_1"  ></div>

					<div id="group_1"  >
						<img src="/static/skins/vector_10.png" id="vector_10" />
						<img src="/static/skins/vector_11.png" id="vector_11" />

					</div>

				</div>
				<img src="/static/skins/group_3.png" id="group_3" />

			</div>

			<div id="page_splash_screen_ek1"  >
				<div id="_bg__splash_screen_ek2"  ></div>
				<div id="maju" >
					MAJU
				</div>

				<div id="group_2"  >
					<div id="ellipse_1"  ></div>

					<div id="group_1"  >
						<img src="/static/skins/vector_10.png" id="vector_10" />
						<img src="/static/skins/vector_11.png" id="vector_11" />

					</div>

				</div>
				<img src="/static/skins/group_3.png" id="group_3" />

				<p><a href="/login" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" style="z-index: 9999999999999999;" >Login</a></p>

			</div>



			<div id="navbar_ek2"  >
				<div id="rectangle_33_ek1"  ></div>
				<img src="/static/skins/navbar_ek3.png" id="navbar_ek3" />

			</div>



		</div>
	</body>
</html>