<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>Profile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="StyleSheet" href="../static/css/profile.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="_bg__profile_ver2"  ></div>

			<div id="profil_usaha"  >

				<div id="group_62"  >
					<div id="ellipse_20"  ></div>
					<img src="../static/skins/ellipse_21.png" id="ellipse_21" />

				</div>

				<div id="nama_usaha"  >
					<div id="comfycloth" >
						Comfycloth
					</div>
					<div id="usaha_fashion" >
						Usaha Fashion
					</div>
					<div id="rectangle_39"  ></div>
					<div id="goals__facebook" >
						<span style="font-size:28.730102539062; font-style:normal; font-weight:bolder; text-decoration:NONE; ">Goals</span>
					</div>

				</div>

				<div id="navbar"  >
					<div id="rectangle_33"  ></div>
					<a href="/home">
						<img src="../static/skins/navbar_ek1.png" id="navbar_ek1" />
					</a>

				</div>
				<img src="../static/skins/group_39.png" id="group_39" />

			</div>

			<div id="settings"  >
				<div class="button-block">
                    <a href="#" class="button">Edit Profil</a>
                </div><br><br><br><br>
				<div class="button-block">
                    <a href="#" class="button">Pengaturan</a>
                </div><br><br><br><br>
				<div class="button-block">
                    <a href="{{ url_for('logout')}}" class="button">Logout</a>
                </div><br><br><br><br>
			</div>

			<div id="options"  >
					<div id="rectangle_53"  ></div>
					<form class="w3-container w3-card-4" method="POST" action="/"></form>
						<div id="pilih_kanal" >
							<select class="w3-select" label="chosen_channel" name="chosen_channel">
								<option selected value="Facebook">Facebook</option>
								<option value="Google Ads">Google Ads</option>
							</select>						
						</div>
						<div id="button_pilih"><button class="w3-btn w3-blue w3-padding-small">Pilih</button></div>
					</form>
			</div>

			<div id="group_11"  >
				<img src="../static/skins/line_6.png" id="line_6" />
				<img src="../static/skins/line_7.png" id="line_7" />

			</div>

			<div id="goal_4"  >

				<div id="revenue"  >
					<div id="rectangle_24"  ></div>
					<div id="rectangle_25"  ></div>
					<div id="_90_" >
						90%
					</div>

				</div>

				<div id="group_63"  >
					<div id="monthly_spend" >
						Monthly Spend
					</div>

				</div>
				<img src="../static/skins/group_65.png" id="group_65" />
				<div id="saat_ini__rp1_350_000" >
					<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Saat ini:<br/></span><span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">Rp1,350,000</span>
				</div>
				<div id="target__rp1_500_000" >
					<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Target:<br/></span><span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">Rp1,500,000</span>
				</div>
				<div id="____" >
					...
				</div>

			</div>

			<div id="goal_3"  >
				<form class="w3-container w3-card-4" method="POST" action="/">
				<div id="revenue_ek1"  >
					<div id="rectangle_24_ek1"  ></div>
					<div id="rectangle_25_ek1"  ></div>
						<div id="_76_" >
							76%
						</div>
				</div>

				<div id="group_63_ek1"  >
					<div id="return_on_ad_spend" >
						Return on Ad Spend
					</div>

				</div>
				<img src="../static/skins/group_65_ek1.png" id="group_65_ek1" />
				<div id="saat_ini__304_" >
					<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Saat ini:<br/></span><span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">304%</span>
				</div>
				<div id="target__400_" >
					<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Target:<br/></span><span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">400%</span>
				</div>
				<div id="_____ek1" >
					...
				</div>
				</form>
			</div>

			<div id="goal_2"  >
				<form class="w3-container w3-card-4" method="POST" action="/">
				<div id="revenue_ek2"  >
					<div id="rectangle_24_ek2"  ></div>
					<div id="rectangle_25_ek2"  ></div>
						<div id="_90__ek1" >
							90%
						</div>
				</div>

				<div id="group_63_ek2"  >
					<div id="click_through_rate" >
						Click-Through Rate
					</div>

				</div>
				<img src="../static/skins/group_65_ek2.png" id="group_65_ek2" />
				<div id="saat_ini__1_12_" >
					<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Saat ini:<br/></span><span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">1,12%</span>
				</div>
				<div id="target__1_24_" >
					<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Target:<br/></span><span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">1,24%</span>
				</div>
				<div id="_____ek2" >
					...
				</div>
				</form>
			</div>

			<div id="goal_1"  >
				<form class="w3-container w3-card-4" method="POST" action="/">
				<div id="goal_1_ek1"  >

					<div id="revenue_ek3"  >
						<div id="rectangle_24_ek3"  ></div>
						<div id="rectangle_25_ek3"  ></div>
							<div id="_76__ek1" >
								76%
							</div>
					</div>

					<div id="group_63_ek3"  >
						<div id="conversion_rate" >
							Conversion Rate
						</div>

					</div>
					<a href="/conversion">
						<img src="../static/skins/group_65_ek3.png" id="group_65_ek3" />
					</a>
						<div id="saat_ini__3_12_" >
							<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Saat ini:<br/></span>
									<span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">3,12%</span>
						</div>						
						<div id="target__4_11_" >
							<span style="font-style:normal; font-weight:normal; text-decoration:NONE; ">Target:<br/></span>
								<span style="font-size:16; font-style:normal; font-weight:bold; text-decoration:NONE; ">4,11%</span>
						</div>
				</div>
				<div id="_____ek3" >
					...
				</div>
				</form>
			</div>

		</div>
	</body>
</html>